.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__text:not(:last-child) {
  margin-right: 30px;
}

.contact__nav{
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}