.header-nav {
  display: flex;
}

.menu-list {
  display: flex;
}

.contact-menu {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-connect {
  margin-left: auto;
}

