.header-nav {
  display: flex;
}

.header-nav__list {
  display: flex;
}

.contact__list {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.contact {
  margin-left: auto;
}

